[submodule "vendor/xtensor"]
	path = vendor/xtensor
	url = git@github.com:xtensor-stack/xtensor.git
[submodule "vendor/xtl"]
	path = vendor/xtl
	url = git@github.com:xtensor-stack/xtl.git
[submodule "vendor/xtensor-blas"]
	path = vendor/xtensor-blas
	url = git@github.com:xtensor-stack/xtensor-blas.git
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = git@github.com:zeux/pugixml.git
